@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Nunito", "Avenir Next", sans-serif;
}

#root {
  min-height: 100vh;
}
